{% assign letter = include.letter %}
{% if include.lang == "en" %}
  {% assign sorted_entries = site.entries_en | sort: "title" %}
{% else %}
  {% assign sorted_entries = site.entries | sort: "title" %}
{% endif %}
<div class="letter-group">
  <span class="letter-label">{{ letter }}</span>
  {% for e in sorted_entries %}
    {% assign first_char = e.title | slice: 0, 1 | upcase %}
    {% if first_char == letter %}
      <p class="entry-item">
        <a href="{{ e.url | relative_url }}">{{ e.title }}</a>{% if e.zone %} ({{ e.zone }}){% endif %}
      </p>
    {% endif %}
  {% endfor %}
</div>
