---
layout: default
---
<div class="home-container">

  <div class="left">
    <h2>{{ site.title }}</h2>
    <div class="entry-content">
      {{ content }}
    </div>
  </div>

  <div class="right">
    <h3 class="sommaire-title">Sommaire</h3>
    <div class="sommaire-columns">

      <div class="col-1">
        {% assign letters1 = "ABCDEFGHI" | split: "" %}
        {% for letter in letters1 %}
          {% include letter-group.html letter=letter %}
        {% endfor %}
      </div>

      <div class="col-2">
        {% assign letters2 = "JKLMNOPQR" | split: "" %}
        {% for letter in letters2 %}
          {% include letter-group.html letter=letter %}
        {% endfor %}
      </div>

      <div class="col-3">
        {% assign letters3 = "STUVWXYZ" | split: "" %}
        {% for letter in letters3 %}
          {% include letter-group.html letter=letter %}
        {% endfor %}
      </div>

    </div>
  </div>

</div>
